header h1 {
  height: 40px;
  margin-left: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

body {
  height: 125vh;
  background-color:rgb(255, 255, 255);
  font-family: sans-serif;
  margin-top: 80px;
  padding: 30px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  color: white;
}

header {
  background-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
}

header * {
  display: inline;
}

header li {
  margin: 20px;
}

header li a {
  color: black;
  text-decoration: none;
}

/* recommended button width change */
.MuiSvgIcon-root {
  min-width: 40px;
}

.hero-bg {
  background-color: #ff90e8;

  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 3px black;
}

.hero-feature-bg {
  background-color: #FFC900;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: solid 3px black;
  margin-top: 2em;
}

.welcome {
  display: flex;
  align-items: center;
  color: black;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
  font-weight: 700;
  font-size: 4em;
  margin: 20px;
}

.subtext {
  color: black;
  text-align: center;
  font-family: 'Monserrat', sans-serif;
  font-size: 40px;
  font-weight: 400;
  padding: 2px;
  margin: 20px;
}