body {
  height: 125vh;
  background-color:rgb(255, 255, 255);
  font-family: 'Montserrat', sans-serif;
  margin-top: 80px;
  padding: 30px;
}

header h1 {
  height: 40px;
  margin-left: 40px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

main {
  color: white;
}

header {
  background-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: black;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header * {
  display: flex;
  justify-content: space-between;
}

header li {
  margin: 20px;
}

header li a {
  color: black;
  text-decoration: none;
}

/* recommended button width change */
.MuiSvgIcon-root {
  min-width: 40px;
}

/* Custom scrollbar */

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track-piece {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #23A094;
  border: 3px solid black
}

::-webkit-scrollbar-thumb:hover {
  background-color: #FFC900;
}
