.last-page-pic {
  width: 400px;
}

.gh-logo {
  height: 40px;
  width: 40px;
  margin-right: 10px;
  margin-top: 10px;
}

.gh-name {
  margin-top: 20px;
}

.profile-container {
  display: flex;
  justify-content: space-around;
}

.curtis-about {
  display: flex;
  justify-content: center;
}

.emily-about {
  display: flex;
  justify-content: center;
}

.curtis-profile {
  background-color: #23A094;
  padding: 50px;
  border-style: solid;
  border-width: thick;
}

.emily-profile {
  background-color: #23A094;
  padding: 50px;
  border-style: solid;
  border-width: thick;
}
.last-page-pic {
  border-radius: 50%;
  border-style: solid;
  border-width: thick;
}

.page-hire-message {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  background-color: #FFC900;
  border: solid 3px black;
  height: 60px;
  margin-top:20px;
  margin-bottom: 20px;
}

.final-page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bungee Shade', cursive;
  font-size: 3em;
  background-color: #ff90e8;
  border: solid 3px black;
  height: 60px;
}

.real-name {
  display: flex;
  justify-content: center;
  font-family: 'Bungee', cursive;
  text-decoration: underline;
}