main {
  margin-top: 80px;
}

.login-background {
  background-color: #FFC900;
  display: flex;
  align-items:center;
  justify-content: center;
  border-style: solid;
  border-color: black;
}

.register-text {
  color: black;
}

.footer-spacing {
  margin-bottom: 300px;
}