.user-menu {
  background-color: black;
  border-right-style: solid;
  border-left-style: solid;
  border-color: black;
  color: white;
}

.title a {
  text-decoration: none;
  color: black;
  font-family: 'Bungee', cursive;
}

.topnav {
  margin: 30px;
  color: white;
}

.menulink {
  color: black;
  text-decoration: none;
}

.home-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left-style: solid;
  text-decoration: none;
}

.home-link:hover {
  background-color: #ff90e8;
  text-decoration: underline;
}

.home-link-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
  margin-left: 40px;
  text-decoration: none;
  color: black;
  font-family: 'Monserrat', sans-serif;
}

.login-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left-style: solid;
  text-decoration: none;
  background-color: black;
}

.login-link-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
  margin-left: 40px;
  text-decoration: none;
  color: white;
  font-family: 'Monserrat', sans-serif;
}

.login-link-text:hover {
text-decoration: underline;
}

div .menu-button {
  margin-right: 40px;
  background-color: white;
  color: black;
}

p.MuiTypography-root {
  margin-left: 40px;
}

.MenuBookIcon {
  margin-top:10px;
}