.sort-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  /* margin-bottom: 40px; */
  position: static;
}

button.MuiButton-root {
  color: white;
  background-color:black;
  border: black;
  position: static;
  border-radius: 0;
}

button.MuiButton-root:hover {
  background-color: #ff90e8;
  border:pink;
  color: black;
}

.add-book-form {
  margin-bottom: 40px;
}

div .img {
  border-style: solid;
  border-width: thick;
}