div .sort-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 40px;
  margin-right: 60px;
  position: static;
}

button.MuiButton-root {
  color: white;
  background-color:black;
  border: black;
  position: static;
  margin-left: 20px;
}

button.MuiButton-root:hover {
  background-color: pink;
  color:black;
  border:pink;
}

.MuiGrid {
  margin-left:80px;
}